In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [29]:
apple= yf.download("AAPL", start = "2020-01-02", end = "2024-12-31")
google = yf.download("GOOG", start = "2020-01-02", end = "2024-12-31")
apple.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2020-01-02  72.716080  72.776606  71.466820  71.721026  135480400
2020-01-03  72.009117  72.771745  71.783962  71.941328  146322800
2020-01-06  72.582909  72.621646  70.876075  71.127866  118387200
2020-01-07  72.241539  72.849216  72.021223  72.592586  108872000
2020-01-08  73.403641  73.706271  71.943751  71.943751  132079200

In [30]:
yf.__version__

'0.2.54'

In [41]:
apple = pd.DataFrame(apple)
google = pd.DataFrame(google)

In [42]:
df = pd.concat([apple, google], axis=0)

In [43]:
google

Price            Close        High         Low        Open    Volume
Ticker            GOOG        GOOG        GOOG        GOOG      GOOG
Date
2020-01-02   68.046196   68.084512   66.761282   66.761282  28132000
2020-01-03   67.712273   68.301485   66.960037   67.075290  23728000
2020-01-06   69.381874   69.495829   67.181792   67.181792  34646000
2020-01-07   69.338585   69.818809   69.191280   69.567504  30054000
2020-01-08   69.884987   70.246275   69.214161   69.275865  30560000
...                ...         ...         ...         ...       ...
2024-12-23  195.766968  196.266399  191.411929  193.809192  15235900
2024-12-24  197.345184  197.445061  194.975874  195.946768   6809800
2024-12-26  196.875717  197.934509  195.647106  196.516126   7907900
2024-12-27  193.819183  196.576052  191.753543  196.246426  14693000
2024-12-30  192.470734  193.559490  190.143383  190.647813  12209500

[1257 rows x 5 columns]

In [44]:
df.columns

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL'),
            ( 'Close', 'GOOG'),
            (  'High', 'GOOG'),
            (   'Low', 'GOOG'),
            (  'Open', 'GOOG'),
            ('Volume', 'GOOG')],
           names=['Price', 'Ticker'])

In [45]:
tickers = ["MSFT", "AMZN", "TSLA", "NVDA", "META", "JPM", "V", "BABA", "TSM",
    "SPY", "QQQ", "ARKK", "VOO", "DIA", "XLF",
    "BTC-USD", "ETH-USD", "DOGE-USD", "ADA-USD", "XRP-USD", "SOL-USD",
    "^GSPC", "^DJI"]

print(tickers)

['MSFT', 'AMZN', 'TSLA', 'NVDA', 'META', 'JPM', 'V', 'BABA', 'TSM', 'SPY', 'QQQ', 'ARKK', 'VOO', 'DIA', 'XLF', 'BTC-USD', 'ETH-USD', 'DOGE-USD', 'ADA-USD', 'XRP-USD', 'SOL-USD', '^GSPC', '^DJI']

In [46]:
for ticker in tickers:
    stock_df = yf.download(ticker, start = "2020-01-02", end = "2024-12-31")
    df = pd.concat([df, stock_df], axis=0)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [47]:
df

Price,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume,...,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,GOOG,GOOG,GOOG,GOOG,GOOG,...,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^DJI,^DJI,^DJI,^DJI,^DJI
Date,,,,,,,,,,,,,,,,,,,,,
2020-01-02,72.716080,72.776606,71.466820,71.721026,135480400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-03,72.009117,72.771745,71.783962,71.941328,146322800.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-06,72.582909,72.621646,70.876075,71.127866,118387200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-07,72.241539,72.849216,72.021223,72.592586,108872000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-01-08,73.403641,73.706271,71.943751,71.943751,132079200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,42906.949219,42957.789062,42516.871094,42800.488281,449390000.0
2024-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43297.031250,43297.648438,42871.761719,42916.480469,230410000.0
2024-12-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,43325.800781,43373.980469,43115.089844,43201.851562,270350000.0
2024-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,42992.210938,43238.851562,42761.558594,43142.371094,376960000.0
2024-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,42573.730469,42863.859375,42263.511719,42863.859375,383300000.0

In [11]:
df[1000:1010]

Price,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume,...,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume
Ticker,AAPL,AAPL,AAPL,AAPL,AAPL,GOOG,GOOG,GOOG,GOOG,GOOG,...,^GSPC,^GSPC,^GSPC,^GSPC,^GSPC,^DJI,^DJI,^DJI,^DJI,^DJI
Date,,,,,,,,,,,,,,,,,,,,,
2003-12-26,0.312672,0.314629,0.306052,0.306202,103695200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-29,0.318240,0.318390,0.313876,0.314629,233458400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-30,0.320196,0.323506,0.318240,0.318691,204853600.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-31,0.321550,0.323957,0.318691,0.321249,174451200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-02,0.320196,0.327268,0.318691,0.324258,144642400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-05,0.333588,0.336898,0.322303,0.322303,395018400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-06,0.332383,0.337349,0.326666,0.334791,509348000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-07,0.339907,0.343519,0.329976,0.332534,586874400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-08,0.351493,0.357061,0.340810,0.343669,460303200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-09,0.346076,0.363079,0.342916,0.349537,427459200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
df.columns

MultiIndex([( 'Close',  'AAPL'),
            (  'High',  'AAPL'),
            (   'Low',  'AAPL'),
            (  'Open',  'AAPL'),
            ('Volume',  'AAPL'),
            ( 'Close',  'GOOG'),
            (  'High',  'GOOG'),
            (   'Low',  'GOOG'),
            (  'Open',  'GOOG'),
            ('Volume',  'GOOG'),
            ...
            ( 'Close', '^GSPC'),
            (  'High', '^GSPC'),
            (   'Low', '^GSPC'),
            (  'Open', '^GSPC'),
            ('Volume', '^GSPC'),
            ( 'Close',  '^DJI'),
            (  'High',  '^DJI'),
            (   'Low',  '^DJI'),
            (  'Open',  '^DJI'),
            ('Volume',  '^DJI')],
           names=['Price', 'Ticker'], length=125)

In [37]:
multi_index = pd.MultiIndex.from_tuples(df.columns)

In [38]:
flat_columns = ['_'.join(col) for col in multi_index]

In [39]:
df.columns = flat_columns

In [40]:
df

,Close_AAPL,High_AAPL,Low_AAPL,Open_AAPL,Volume_AAPL,Close_GOOG,High_GOOG,Low_GOOG,Open_GOOG,Volume_GOOG,...,Close_^GSPC,High_^GSPC,Low_^GSPC,Open_^GSPC,Volume_^GSPC,Close_^DJI,High_^DJI,Low_^DJI,Open_^DJI,Volume_^DJI
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-03,0.842150,0.846382,0.765036,0.789017,535796800.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,0.771149,0.832276,0.761274,0.814408,512377600.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,0.782433,0.831806,0.774910,0.780553,778321600.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,0.714723,0.805004,0.714723,0.798421,767972800.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,0.748578,0.759864,0.718485,0.726008,460734400.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30129.830078,30292.529297,30046.730469,30046.730469,274050000.0
2020-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30199.869141,30209.669922,30099.300781,30155.919922,145570000.0
2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30403.970703,30525.560547,30283.230469,30283.230469,302490000.0
2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30335.669922,30588.789062,30274.240234,30492.070312,357610000.0
2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30409.560547,30525.349609,30393.039062,30415.089844,291890000.0

In [41]:
df.to_csv("stocks.csv", index=True)